	body {
		margin: 0;
		background-color: #f0f0f0;
		overflow: hidden;
		font-family: Lucida Console;
	}

	.login_wrapper,
	#cube_size_wrapper {
		padding-top: 10%;
	}

	.login,
	.cube_size {
		margin-left: auto;
		margin-right: auto;
		width: 274px;
		text-align: center;
	}

	.forgotsu a {
		color: #757575;
	}

	.logo {
		text-decoration: none;
		color: black;
	}

	.game_cp {
		width: 400px;
	}

	input {
		height: 44px;
		font-size: 16px;
	}

	input[type="number"],
	input[type="text"],
	input[type="password"],
	input[type="email"] {
		padding: 10px;
		border: none;
		border-bottom: solid 2px #c9c9c9;
		box-sizing: border-box;
		width: 100%;
		font-family: Lucida Console;
	}

	input[type="text"]:focus,
	input[type="number"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus {
		border-bottom: solid 2px #969696;
	}

	input[type="button"]:hover,
	input[type="submit"]:hover {
		border-bottom: solid 2px #969696;
		cursor: pointer;
	}

	input[type="button"]:active,
	input[type="submit"]:active {
		/*border-top: solid 2px transparent ;*/
		border-bottom: solid 2px black;
	}

	h1 {
		font-family: Lucida Console;
		font-size: 38px;
	}

	input[type="button"],
	input[type="submit"] {
		padding: 10px;
		border: none;
		border-bottom: solid 2px #c9c9c9;
		background-color: #E5E5E5;
		box-sizing: border-box;
		width: 48%;
		margin-top: 10px;
		font-family: Lucida Console;
	}

	p.or {
		border-bottom: 1px solid #757575;
	}

	p.or span {
		width: 38px;
		margin: 8px auto -9px;
		display: block;
		color: #757575;
		background: #f0f0f0;
	}

	.fb {
		background-image: url('/images/fblogin.png');
	}

	input[type="button"].big,
	input[type="submit"].big {
		width: 100%;
	}

	#errors,
	.notifs {
		font-family: Lucida Console;
		height: 19px;
		width: 100%;
		color: #969696;
		text-align: center;
		font-size: 16px;
	}

	#cube_size_form {
		display: none
	}

	#sizen {
		display: none
	}

	#restart_button,
	#giveup_button,
	#lb_button {
		display: none;
		cursor: pointer;
	}

	#n {
		color: red;
	}

	#csbox {
		width: 80px;
	}

	#csinput {
		background-color: #E5E5E5;
		float: left;
		padding-left: 19px;
	}

	table {
		width: 100%;
	}

	table,
	th,
	td {
		border: 1px solid black;
		border-collapse: collapse;
	}

	th,
	td {
		padding: 5px;
		text-align: left;
	}

	table tr:nth-child(even) {
		background-color: #eee;
	}

	table tr:nth-child(odd) {
		background-color: #fff;
	}

	table th {
		background-color: black;
		color: white;
	}

	#lb {
		position: absolute;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		width: 700px;
		background-color: rgb(240, 240, 240);
		overflow: auto;
		height: 90%;
	}

	#notloggedin {
		text-align: center;
		margin-top: 90px;
	}

	.closeX {
		float: right;
		background: url("/images/close.png");
		background-size: 24px 24px;
		width: 24px;
		height: 24px;
	}